.upload-form_song {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width:100%;
}
.upload-form_song * {
    color: #000433;
}
.upload-form_song h1 {
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #000433;
    width: 100%;
    text-align: center;
}
.upload-form_song > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.upload-form_song_pic {
    width: 200px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.upload-song_container-upload-button{
    display: none;
}

.upload-song_container-upload-custom-button{
    cursor: pointer;
    border: 1.5px solid rgba(0, 4, 51);
    padding: 20px;
    border-radius: calc(infinity*1px);
    background-color: #EF3E2B;
    font-size:medium;
    color: white;
    width: fit-content;
    height: fit-content;
    align-content: center;
    justify-content: center;
    display: flex;
}

.upload-form_song_pic img  {
    width: 200px;
    height: 200px;
}

.upload-form_song_data {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
    align-items: end;
    width: 50%;
}
.upload-form_song_data > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.upload-form_song_data > label > input {
    border-radius: 5px;
    border: 1px solid #000433;
}
.upload-form_song_data button {
    padding: 4px 8px;
    color: white;
    width: fit-content;
    border: 1px solid #000433;
    border-radius: 5px;
    cursor: pointer;
    background-color: #EF3E2B;
}


.upload-form_song_button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.submitted-song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000433;
    padding: 10px 0;
}
.submitted-song img{
    width: 100px;
    height: 100px;
}

.create-song-description{
    margin-left: 5px;
    resize: none;
}
