.react-h5-audio-player {
     position: fixed;
     bottom:0;
     width: 100%;

     background-color: #000433;
     border-top: 2px solid #EF912B;
     padding: 10px 0 10px 0;
     z-index: 10;
     
}

.rhap_main {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 5px;
     align-items: center;
     width: 1200px;
     margin: auto;
}

.rhap_progress-section {
     display: flex;
     align-items: center;
     gap: 40px;
     color: white;
}
.rhap_progress-section * {
     display: flex;
     justify-content: center;
     width: fit-content;
}

.rhap_controls-section {
     display: flex;
     gap: 40px;
}
.rhap_main-controls {
     display: flex;
     gap: 10px;
}
.rhap_controls-section button {
     color: white;
     text-align: center;
     width: 30px;
     height: 30px;
     font-size: x-large;
     cursor: pointer;
     -webkit-text-stroke: 1px #EF3E2B;
}