.login-form > label > input, textarea {
    border-radius:10px;
    padding: 5px;
    border: 1px solid rgba(37,37,77,1);
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form > button {
    margin-left: 2px;
    cursor: pointer;
    border: 1.5px solid rgba(0, 4, 51) !important;
    gap:0px;
    border-radius: calc(infinity * 1px);
    background-color:#EF3E2B;
    font-size: medium;
    color: white !important;
}